In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("NYC_Cleaned_Optimized.csv")

In [3]:
df.columns

Index(['Complaint_ID', 'Precinct', 'Offense_Code', 'Offense_Description',
       'Precinct_Code', 'Precinct_Description', 'Crime_Status',
       'Offense_Level', 'Borough', 'Location_Type', 'Premises_Type',
       'Jurisdiction', 'JURISDICTION_CODE', 'Suspect_Age', 'Suspect_Race',
       'Suspect_Gender', 'Lat', 'Lon', 'Patrol_Borough', 'Victim_Age',
       'Victim_Race', 'Victim_Gender', 'in_psa', 'in_psa_housing',
       'in_transport', 'in_park', 'Start_Datetime', 'End_Datetime',
       'Duration_Hours', 'Is_Multi_Day', 'Year', 'Month', 'Day', 'DayOfWeek',
       'Hour', 'Is_Weekend'],
      dtype='object')

## INPUT FEATURES 
victim age 
victim gender 
victim sex 
victim race 
(lat  
lang) =====>Borough
in_psa_housing
in_park
in_transport


start datetime  ====> day of week /is weekend/day/hour/is_weekend/day of week 

### Target
Offense_Description

In [4]:
list_input_output=['Lat','Lon','in_psa_housing','in_transport','in_park','Year','Month','Day','Hour','DayOfWeek','Victim_Age','Victim_Race','Victim_Gender','Is_Weekend','Borough','Offense_Description']

In [5]:
df_final = df[list_input_output]

In [6]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6919629 entries, 0 to 6919628
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   Lat                  float64
 1   Lon                  float64
 2   in_psa_housing       bool
 3   in_transport         bool
 4   in_park              bool
 5   Year                 int64
 6   Month                int64
 7   Day                  int64
 8   Hour                 int64
 9   DayOfWeek            int64
 10  Victim_Age           object
 11  Victim_Race          object
 12  Victim_Gender        object
 13  Is_Weekend           bool
 14  Borough              object
 15  Offense_Description  object
dtypes: bool(4), float64(2), int64(5), object(5)
memory usage: 659.9+ MB

In [7]:
df_final = df_final[df_final['Offense_Description'] != 'OTHER']

In [8]:
df_final['Victim_Gender'] = df_final['Victim_Gender'].replace({'D': 'U', 'E': 'U'})

In [9]:
df_final['Victim_Race'] = df_final['Victim_Race'].replace({'OTHER': 'UNKNOWN'})

In [10]:
df_final['Offense_Description'].value_counts()

Offense_Description
PROPERTY_RELATED          3354741
PERSONAL_RELATED          1169402
SEXUAL_RELATED             979383
ADMINISTRATIVE_RELATED     678085
DRUGS/ALCOHOL_RELATED      509370
Name: count, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

categorical_cols = ['Victim_Age', 'Victim_Race', 'Victim_Gender', 'Borough', 'Offense_Description']

label_mappings = {}

for col in categorical_cols:
    le = LabelEncoder()
    df_final[col] = le.fit_transform(df_final[col])  # Encode the column
    mapping = {class_name: i for i, class_name in enumerate(le.classes_)}  # Create the dictionary manually
    label_mappings[col] = mapping  # Store mapping for the variable

for col, mapping in label_mappings.items():
    print(f"Mapping for {col}: {mapping}")

Mapping for Victim_Age: {'18-24': 0, '25-44': 1, '45-64': 2, '65+': 3, '<18': 4, 'UNKNOWN': 5}
Mapping for Victim_Race: {'AMERICAN INDIAN/ALASKAN NATIVE': 0, 'ASIAN / PACIFIC ISLANDER': 1, 'BLACK': 2, 'BLACK HISPANIC': 3, 'UNKNOWN': 4, 'WHITE': 5, 'WHITE HISPANIC': 6}
Mapping for Victim_Gender: {'F': 0, 'M': 1, 'U': 2}
Mapping for Borough: {'BRONX': 0, 'BROOKLYN': 1, 'MANHATTAN': 2, 'QUEENS': 3, 'STATEN ISLAND': 4, 'Unknown': 5}
Mapping for Offense_Description: {'ADMINISTRATIVE_RELATED': 0, 'DRUGS/ALCOHOL_RELATED': 1, 'PERSONAL_RELATED': 2, 'PROPERTY_RELATED': 3, 'SEXUAL_RELATED': 4}

In [12]:
df_final

,Lat,Lon,in_psa_housing,in_transport,in_park,Year,Month,Day,Hour,DayOfWeek,Victim_Age,Victim_Race,Victim_Gender,Is_Weekend,Borough,Offense_Description
0,40.845868,-73.915888,False,False,False,2015,5,28,15,3,1,6,0,False,0,4
1,40.627061,-74.077149,False,False,False,2013,10,28,13,0,2,5,1,False,4,3
2,40.800966,-73.969047,False,False,False,2012,5,9,20,2,5,4,2,False,2,2
3,40.745242,-73.894253,False,False,False,2014,1,3,13,4,2,1,1,False,3,3
4,40.810352,-73.924942,False,False,False,2016,4,13,0,2,5,4,2,False,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6919624,40.741889,-73.859886,False,False,False,2018,9,11,22,1,5,4,2,False,3,3
6919625,40.878054,-73.863244,False,False,False,2018,1,15,14,0,2,2,0,False,0,3
6919626,40.672202,-73.983786,False,False,True,2018,8,7,14,1,0,2,1,False,1,2
6919627,40.785050,-73.856852,False,False,False,2018,12,2,4,6,1,1,0,True,3,2
6919628,40.814612,-73.903637,False,False,False,2018,8,3,22,4,1,3,0,False,0,3

In [13]:
bool_cols = ['in_psa_housing', 'in_transport', 'in_park', 'Is_Weekend']

df_final[bool_cols] = df_final[bool_cols].astype(int)

In [14]:
df_final

,Lat,Lon,in_psa_housing,in_transport,in_park,Year,Month,Day,Hour,DayOfWeek,Victim_Age,Victim_Race,Victim_Gender,Is_Weekend,Borough,Offense_Description
0,40.845868,-73.915888,0,0,0,2015,5,28,15,3,1,6,0,0,0,4
1,40.627061,-74.077149,0,0,0,2013,10,28,13,0,2,5,1,0,4,3
2,40.800966,-73.969047,0,0,0,2012,5,9,20,2,5,4,2,0,2,2
3,40.745242,-73.894253,0,0,0,2014,1,3,13,4,2,1,1,0,3,3
4,40.810352,-73.924942,0,0,0,2016,4,13,0,2,5,4,2,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6919624,40.741889,-73.859886,0,0,0,2018,9,11,22,1,5,4,2,0,3,3
6919625,40.878054,-73.863244,0,0,0,2018,1,15,14,0,2,2,0,0,0,3
6919626,40.672202,-73.983786,0,0,1,2018,8,7,14,1,0,2,1,0,1,2
6919627,40.785050,-73.856852,0,0,0,2018,12,2,4,6,1,1,0,1,3,2
6919628,40.814612,-73.903637,0,0,0,2018,8,3,22,4,1,3,0,0,0,3

In [15]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6690981 entries, 0 to 6919628
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   Lat                  float64
 1   Lon                  float64
 2   in_psa_housing       int64
 3   in_transport         int64
 4   in_park              int64
 5   Year                 int64
 6   Month                int64
 7   Day                  int64
 8   Hour                 int64
 9   DayOfWeek            int64
 10  Victim_Age           int64
 11  Victim_Race          int64
 12  Victim_Gender        int64
 13  Is_Weekend           int64
 14  Borough              int64
 15  Offense_Description  int64
dtypes: float64(2), int64(14)
memory usage: 867.8 MB

In [16]:
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter

X = df_final.drop('Offense_Description', axis=1)
y = df_final['Offense_Description']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)


undersampler = RandomUnderSampler(sampling_strategy='auto', random_state=42)
X_train_resampled, y_train_resampled = undersampler.fit_resample(X_train, y_train)


print("Class distribution before undersampling (training):", Counter(y_train))
print("Class distribution after undersampling (training):", Counter(y_train_resampled))
print("Class distribution (testing):", Counter(y_test))

Class distribution before undersampling (training): Counter({3: 2349670, 2: 818642, 4: 684906, 0: 474028, 1: 356440})
Class distribution after undersampling (training): Counter({0: 356440, 1: 356440, 2: 356440, 3: 356440, 4: 356440})
Class distribution (testing): Counter({3: 1005071, 2: 350760, 4: 294477, 0: 204057, 1: 152930})

## Fisrt model (Xgboost)